* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.app {
    position: relative;
    width: 100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


/* --------------------------------------------------------------- */



a{
    cursor: pointer;
}
header nav{
    height: 50px;
    background-color: #ffaa00;
}
header nav ul{
    color: black;
    background-color: rgba(255,255,255,0.6);
}
.menu-util{
    background-color: #ffaa00;
}
header nav ul li{
    list-style: none;
    padding: 5px;
}
.hamburger{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 1.5rem;
}
.title{
    text-align: center;
    font-size: 1.25rem;
    line-height: 50px;
}
