* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
    font-family: 'bikobold';
    src: url('../font/biko/biko_bold-webfont.eot');
    src: url('../font/biko/biko_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/biko/biko_bold-webfont.woff2') format('woff2'),
         url('../font/biko/biko_bold-webfont.woff') format('woff'),
         url('../font/biko/biko_bold-webfont.ttf') format('truetype'),
         url('../font/biko/biko_bold-webfont.svg#bikobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bikoregular';
    src: url('../font/biko/biko_regular-webfont.eot');
    src: url('../font/biko/biko_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/biko/biko_regular-webfont.woff2') format('woff2'),
         url('../font/biko/biko_regular-webfont.woff') format('woff'),
         url('../font/biko/biko_regular-webfont.ttf') format('truetype'),
         url('../font/biko/biko_regular-webfont.svg#bikoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lecker';
    src: url('../font/lecker/leckerlione-regular-webfont.eot');
    src: url('../font/lecker/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lecker/leckerlione-regular-webfont.woff2') format('woff2'),
         url('../font/lecker/leckerlione-regular-webfont.woff') format('woff'),
         url('../font/lecker/leckerlione-regular-webfont.ttf') format('truetype'),
         url('../font/lecker/leckerlione-regular-webfont.svg#leckerlioneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'bikoregular', sans-serif;
    background-color: #fff2df;
    text-align: center;
    margin: 0 0;
    width: 100%;
    height: 100%;
}
a{
	cursor: pointer;
}
h1{
    font-weight: normal; /* enlever le gras par défaut des h1 */
}
/* HEADER BASE */
header{
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    position: fixed;
	background-color: #ffaa00;
	color: #ffffff;
    z-index: 2;
}
header h1{
	font-size: 2rem;
	margin: 0;
}

/* MENU HAMBURGER */

.menu-util{
    background-color: #ffaa00; /* à changer */
}
header nav ul{
    color: black;
    background-color: rgba(255,255,255,0.6);
}
header nav ul{
    list-style: none;
    padding: 5px;
}
.hamburger{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 1.5rem;
}
